.feedback {
  margin: 80px 0;
}
.feedback-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111;
  margin-bottom: 74px;
}

.feedback-list {
  display: flex;
  flex-wrap: wrap;
  gap: 60px 16px;
  margin-bottom: 65px;
}
@media screen and (min-width: 768px) {
  .feedback-list {
    margin-bottom: 94px;
  }
}
@media screen and (min-width: 1158px) {
  .feedback-list {
    flex-wrap: nowrap;
    gap: 28px;
    margin-bottom: 50px;
  }
}
.feedback-list-item {
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  box-shadow: 0 9px 100px 0 rgba(17, 17, 17, 0.03);
  background-color: #fff;
  padding: 56px 18px 42px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .feedback-list-item {
    flex-basis: calc((100% - 16px) / 2);
  }
}
@media screen and (min-width: 1158px) {
  .feedback-list-item {
    flex-basis: calc((100% - 56px) / 3);
  }
}

.feedback-item-block {
  position: absolute;
  border-radius: 50%;
  top: -40px;
  left: 50%;
  overflow: hidden;
  transform: translateX(-50%);
}
.feedback-item-profile {
  font-weight: 600;
  font-size: 18px;
  line-height: 133%;
  text-align: center;
  color: #111;
  margin-bottom: 24px;
}
.feedback-item-description {
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
}
.feedback-review-btn {
  font-weight: 600;
  font-size: 18px;
  color: #111;
  border: 1px solid #fd9222;
  border-radius: 100px;
  padding: 14px 40px;
  min-width: 222px;
  background-color: transparent;
  display: block;
  margin: 0 auto;
  transition: color 250ms cubic-bezier(0.19, 1, 0.22, 1),
    background-color 250ms cubic-bezier(0.19, 1, 0.22, 1);
}

.feedback-review-btn:hover {
  background-color: #fd9222;
  color: #fafafa;
}

/* !!!backdrop-window */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 9999;
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 311px;
  min-height: 619px;
  background-color: #fafafa;
  border-radius: 15px;
}
@media screen and (min-width: 768px) {
  .window {
    width: 517px;
    min-height: 794px;
  }
}
.window-closing-btn {
  position: absolute;
  background-color: transparent;
  top: 14px;
  right: 14px;
  width: 28px;
  height: 28px;
}
@media screen and (min-width: 768px) {
  .window-closing-btn {
    top: 24px;
    right: 24px;
  }
}
@media screen and (min-width: 1158px) {
  .window-closing-btn {
    top: 31px;
    right: 31px;
  }
}

.window-wrapper {
  padding: 32px 24px;
}
.window-text {
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #111;
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .window-text {
    font-size: 24px;
    line-height: 117%;
    margin-bottom: 40px;
  }
}

.form-general-container {
  margin-bottom: 14px;
}
@media screen and (min-width: 768px) {
  .form-general-block {
    margin-bottom: 18px;
  }
}

.window-general-item {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
  display: block;
  margin-bottom: 8px;
}

.form-general-block {
  position: relative;
}
.form-general-text-field {
  width: 100%;
  padding: 22px 22px 22px 62px;
  border: 1px solid rgba(17, 17, 17, 0.05);
  font-size: 18px;
  border-radius: 13px;
  background-color: transparent;
  outline: transparent;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-general-text-field:focus {
  border: 1px solid #fd9222;
}
.form-contact-icon {
  position: absolute;
  top: 50%;
  left: 24px;
  transform: translateY(-50%);
  stroke: #404040;
  fill: #fafafa;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-general-text-field:focus + .form-contact-icon {
  stroke: #fd9222;
}
.form-feedback-field {
  margin-bottom: 18px;
}
.form-feedback-area {
  width: 100%;
  border: 1px solid rgba(17, 17, 17, 0.05);
  border-radius: 13px;
  padding: 22px 24px;
  height: 137px;
  background-color: transparent;
  outline: transparent;
  resize: none;
  font-size: 18px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-privacy-check {
  margin-bottom: 24px;
  display: flex;
  align-items: center;
}
.form-agree-box {
  width: 20px;
  height: 20px;
}

.form-privacy-line {
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.6);
}
.privacy-block {
  width: 20px;
  height: 20px;
  border-radius: 6px;
  border: 1px solid rgba(17, 17, 17, 0.14);
  flex-shrink: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 12px;
  fill: transparent;
}
.form-agree-box:checked + .form-privacy-line > .privacy-block {
  background-color: #fd9222;
  fill: #fafafa;
  border: none;
}
.user-privacy-link {
  color: #fd9222;
  line-height: 133%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}
.form-submit-btn {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  border-radius: 100px;
  padding: 14px;
  min-width: 117px;
  background-color: #fd9222;
  border: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-submit-btn:hover {
  color: #fd9222;
  background-color: #fff;
  border: 1px solid #fd9222;
}

.form-feedback-area::placeholder {
  font-size: 18px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
}

.form-feedback-area:focus {
  border-color: #fd9222;
}
